.footer {
  background-color: hsl(168, 34%, 41%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.footer-link {
  display: flex;
  margin: 2rem 0;
}

.footer-link a {
  margin: 0 1vw;
  text-decoration: none;
  color: black;
  font-size: 5vw;
}

.social-media i {
  margin: 0 1rem;
  font-size: 6vw;
}

@media all and (max-width: 461px) {
  .footer img {
    width: 50vw;
  }

  .social-media i {
    margin: 0 3vw;
    font-size: 6vw;
  }
}

@media all and (min-width: 461px) {
  .footer-link a {
    font-size: 1rem;
  }

  .social-media i {
    font-size: 2rem;
  }
}
