.footerimage{
    display:flex;
}

.footerimage img{
    width: 100%;
}

.footerimage-list{
    display:flex;
}

@media all and (max-width:554px){
    .footerimage-list{
        flex-direction: column;
    }
}