.navbar,
.navbar-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  background-color: transparent;
  position: absolute;
  top: 4vw;
  width: 90%;
  z-index: 1;
  left: 7%;
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-out-top {
  -webkit-animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}

.navbaradd {
  position: absolute;
  top: 200%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 2rem 0;
}

.navbar-image {
  display: flex;
  align-items: center;
}

.navbar-link button {
  width: 6rem;
  height: 2rem;
  border-radius: 50px;
  border: none;
  background-color: white;
}

.navbar-link a {
  margin: 0 3vw;
  color: white;
  text-decoration: none;
}

.burger-icon {
  cursor: pointer;
}

.additionmenu a {
  margin: 1rem 0;
  color: black;
  font-size: 6vw;
}

.additionmenu button {
  background-color: hsl(51, 100%, 49%);
  border: none;
  border-radius: 50px;
  width: 38vw;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 6vw;
  cursor: pointer;
}

@media all and (max-width: 553px) {
  .navbar {
    left: 6%;
  }
}
