.navbar,
.navbar-link {
  display: flex;
  justify-content: space-between;
}

.navbar {
    background-color: transparent;
    position: absolute;
    top: 4vw;
    width: 90%;
    z-index: 1;
    left: 7%;
}

.navbar-link a {
  margin: 0 3vw;
  color: white;
  text-decoration: none;
}
