.container {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 4px;
}

.reverse-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.image-container {
  flex-basis: 50%;
}

.image {
  width: 100%;
}

.description {
  width: 80%;
  position: relative;
  left: 10%;
  font-size: 2vw;
}

.description-container {
  flex-basis: 50%;
}

.underline-link {
  position: relative;
}

.underline-link::before {
  content: "";
  background-color: hsl(51, 100%, 49%);
  position: absolute;
  z-index: -1;
  width: 30%;
  height: 28%;
  left: -2%;
  top: 64%;
  border-radius: 5px;
}

.underline-link a {
  text-decoration: none;
  color: black;
}

/* for column description */

.column-container {
  display: flex;
  position: relative;
  bottom: 0.3rem;
}

.column {
  flex-basis: 50%;
  position: relative;
}

.column-image {
  width: 100%;
}

.column-description {
  position: absolute;
  top: 55%;
  text-align: center;
  font-size: 1.5vw;
  width: 38vw;
  left: 13%;
}

@media all and (max-width: 554px) {
  .container {
    flex-direction: column-reverse;
  }

  .reverse-container {
    flex-direction: column-reverse;
  }

  .column-container {
    flex-direction: column;
  }

  .description {
    text-align: center;
    width: 90%;
    left: 5%;
    font-size: 4vw;
  }

  .column-description {
    font-size: 5vw;
    width: 80vw;
    left: 10%;
  }

  .underline-link::before{
    left: 35%;
  }

  .column-container{
    bottom: auto;
  }
}
